@model JobManagementWeb.Infrastructure.Models.DashboardVM

    


    <label asp-for="Groups" class="control-label"></label> :
    <select asp-for="Group.GroupId"
            asp-items="@(new SelectList(Model.Groups, "GroupId", "GroupName"))">
    </select>



<partial name="_EngineerJobList" model="Model" />

